html {
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(156deg, #1ac304, #0000E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg?w=1380&t=st=1716747327~exp=1716747927~hmac=da01cc0c6b877151785ca5eb0d81f46f98b73295daad6e503a6026be3c077257");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #FF6600 solid 2px;
}

a, a:hover, a:visited {
    color: white;
    text-decoration: none;
    border:#FF6600 3px solid;
    border-radius: 20px;
    background-color: #0E6A68;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


main {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    text-align: center;
    max-width: 1800px;
    min-height: 400px;
    justify-content: center;
}


img {
    display: block;
    border: #FF6600 solid 2px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

footer {
    background-image: url("https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg?w=1380&t=st=1716747327~exp=1716747927~hmac=da01cc0c6b877151785ca5eb0d81f46f98b73295daad6e503a6026be3c077257");
    background-size: cover;
    background-attachment: fixed;
    text-align: center; 
    border-top: #FF6600 solid 2px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    align-self: center;
    word-break: break-all;
    justify-content: center;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    align-self: center;
    justify-content: center;
    margin: auto;
}

h4 {
    font-size: 1.5em;
}